<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceaf6a">  <td>18/12/15 17:01:55</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testCases.TC001_CreateApp@31dc339b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/12/15 17:01:55</td>   <td>133</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateApp.setData()[pri:0, instance:testCases.TC001_CreateApp@31dc339b]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>18/12/15 17:01:55</td>   <td>517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.LaunchURL()[pri:0, instance:testCases.TC001_CreateApp@31dc339b]">&gt;&gt;LaunchURL</td> 
<td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/12/15 17:02:03</td>   <td>8072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateApp.CreateAnApp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_CreateApp@31dc339b]">CreateAnApp</td> 
  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>18/12/15 17:02:50</td>   <td>55721</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testCases.TC001_CreateApp@31dc339b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
</table>
